<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avo.www.repository.JobBoardDAO">

	<insert id="post" parameterType="pbvo">
		insert into product(pro_title,pro_email,pro_nick_name,pro_content,pro_price,pro_category,pro_menu)
		values(#{proTitle},#{proEmail},#{proNickName},#{proContent},#{proPrice},'job',#{proMenu})
	</insert>
	
	<select id="selectOneBno" resultType="long">
	 	select max(pro_bno) from product;
	</select>
	
	<select id="detail" parameterType="long" resultType="pbvo">
		select * from product where pro_bno = #{proBno}
	</select>
	
	<update id="modify" parameterType="pbvo">
		update product set pro_title = #{proTitle}, pro_content = #{proContent}, pro_price = #{proPrice}, pro_menu = #{proMenu} where pro_bno = #{proBno}
	</update>

	<update id="readCount">
  		update product set pro_read_cnt = pro_read_cnt + #{cnt} where pro_bno = #{proBno}
	</update>
	
 	<select id="getList" resultType="pbvo">
		select * from product order by pro_bno desc
	</select>
	
	<insert id="jobLike" parameterType="long">
		insert into product pro_like_cnt = pro_like_cnt + 1
	</insert>
	
<!--
	<select id="getList" resultType="pbvo">
		select * from product where proBno = #{proBno}
		order by proBno desc limit #{pgvo.pageStart},#{pgvo.qty}
	</select>
 -->
	



</mapper>