@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
input:focus {outline: none;}
::selection {
   background: #93b336;
   color: #fff;
}
.headerContainer{
   border-bottom: 1px solid #d3d3d3;
}
#loading{
   width: 100%;
   height: calc(100vh - 180px);
   display: block;
   background-image: url("../image/Spinner-5.gif");
   background-repeat: no-repeat;
   background-position: center;
   background-size: auto;
}

/* header start */
header{
   width: 1440px;
   height: 90px;
   margin: 0 auto;
   display: flex;
   align-items: center;
}
.logoSec{
   width: 20%;
   display: flex;
   align-items: center;
   padding-top: 10px;
}
.logoSec img{
   width: 30px;
}
.logoSec h1{
   margin: 0;
   padding-left: 12px;
}
.logoSec h1 a{
   font-family: 'Fugaz One', sans-serif;
   line-height: 45px;
   text-decoration: none;
   font-size: 36px;
   color: #323f11;
   letter-spacing: -1px;
}

/* searchSec start */
.searchSec{
   width: 80%;
   text-align: right;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}
.searchSec form{
   width: 50%;
   position: relative;
}
.searchSec input[type='search']{
   height: 50px;
   width: 100%;
   border: 1px solid #93b336;
   border-radius: 5px;
   padding: 0 15px;
}
.searchSec button{
   position: absolute;
   right: 0px;
   z-index: 10;
   width: 50px;
   height: 50px;
   border: 0;
   border-radius: 20px;
   background-color: transparent;
   font-size: 18px;
}
.searchSec .bi-person{
   font-size: 25px;
   margin-left: 30px;
}
.searchSec .searchMenu{
   display: block;
   position: absolute;
   z-index: 10;
   width: 100%;
   text-align: left;
   background-color: #fff;
   box-shadow: 0 0 5px #cdcdcd;
   border: 1px solid #d3d3d3;
   padding: 20px 15px;
   box-sizing: border-box;
}
.searchSec .searchMenu.off{
   display: none;
}
.searchSec .searchMenu h2{
   font-size: 20px;
   font-weight: 600;
}
.searchSec .searchMenu input{
   margin-bottom: 20px;
   border: 3px solid #93b336;
   height: 60px;
   border-radius: 30px;
}
.searchSec .searchMenu button{
   width: 60px;
   height: 60px;
   right: 20px;
}
.searchSec .searchMenu h3{
   font-size: 18px;
   font-weight: 600;
}
.searchSec .searchMenu ul{
   padding: 0;
   margin: 0;
}
.searchSec .searchMenu ul li{
   display: inline-block;
}
.searchSec .searchMenu ul li label{
   background-color: #ececec;
   border: 1px solid #d3d3d3;
   width: 100px;
   height: 50px;
   border-radius: 25px;
   text-align: center;
   line-height: 50px;
}
.searchSec .searchMenu ul li input:checked + label{
   background-color: #93b336;
   color: #e3edc8;
}
.searchSec .searchMenu ul li input[type='checkbox']{
   display: none;
}
/* searchSec end */

#myMenu{
   display: block;
   position: absolute;
   top: 45px;
   z-index: 10;
   border: 1px solid #d3d3d3;
   background-color: #fff;
   box-shadow: 0 0 5px #cdcdcd;
}
#myMenu.off{
   display: none;
}
#myMenu ul{
   padding: 5px 10px;
   margin: 0;
   text-align: center;
}
#myMenu ul li a{
   text-decoration: none;
   color: #333;
   font-size: 16px;
   line-height: 30px;
   padding: 0px 5px;
}
#myMenu ul li a:hover{
   font-weight: 600;
   color: #323f11;
}


/* nav start */
nav{
   width: 1440px;
   margin: 0 auto;
}
nav ul{
   padding: 0;
   margin: 0;
}
nav ul li{
   display: inline-block;
}
nav ul li:hover{
   font-weight: 600;
}

nav ul li:not(:last-child){
   margin-right: 35px;
}
nav ul li a{
   text-decoration: none;
   display: block;
   color: #333;
   font-size: 20px;
   padding: 15px 0;
}
/* nav end */
/* header end */


.bodyContainer{
   margin: 0 auto;
   width: 1440px;
}

/* footer start */
/* infoSec start */
.infoSec{
   height: 60px;
   background-color: #93b336;
}
.infoSec > div{
   margin: 0 auto;
   width: 1440px;
   height: inherit;
   display: flex;
   align-items: center;
   color: #e3edc8;
   font-size: 20px;
}
.infoSec > div b{
   position: relative;
   margin-right: 23px;
}
.infoSec > div b::after{
   content: "";
   position: absolute;
   width: 3px;
   height: 10px;
   top: 10px;
   right: -23px;
   background-color: #f0f4e4;
}
.infoSec > div a{
   display: block;
   line-height: 60px;
   padding: 0 20px;
   text-decoration: none;
   color: #e3edc8;
}
/* infoSec end */

.footerContainer{
   margin: 0 auto;
   width: 1440px;
   display: flex;
   align-items: flex-start;
}
.footerContainer h3{
   font-family: 'Fugaz One', sans-serif;
   font-size: 24px;
   color: #333;
   margin-bottom: 35px;
}
.footerContainer p{
   font-size: 14px;
   letter-spacing: -1px;
}

/* mainSec start */
.mainSec{
   width: 30%;
   margin-top: 60px;
   margin-right: 20%;
}
.mainSec h2{
   font-family: 'Fugaz One', sans-serif;
   line-height: 36px;
   font-size: 36px;
   color: #323f11;
   margin-bottom: 35px;
}
.mainSec p:not(:last-child){
   margin-bottom: 12px;
}
.mainSec p:nth-child(6){
   margin: 45px 0;
   font-size: 12px;
}
.mainSec p:last-child{
   margin-bottom: 70px;
}
/* mainSec end */


.socialSec{
   margin-top: 72px;
   width: 25%;
}
.socialSec a{
   color: #333;
   font-size: 25px;
}
.socialSec a:hover{
   color: #93b336;
}
.socialSec a:not(:last-child){
   margin-right: 30px;
}

.contactSec{
   margin-top: 72px;
   width: 25%;
   font-size: 14px;
}
.contactSec a{
   display: block;
   color: #333;
   text-decoration: none;
   margin-bottom: 22px;
}
.contactSec p{
   margin-bottom: 22px;
}
.contactSec p:last-child{
   font-size: 20px;
   font-weight: 600;
}
.contactSec p>b{
   display: block;
   font-size: 28px;
   color: #93b336;
}

/* footer end */