@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.bodyContainer{
	display: flex;
	justify-content: center;
	padding: 100px 0 150px 0;
}

.siteTitle{
	text-align: center;
	font-size: 50px;
	font-weight: 800;
	display: block;
	color: #84a331;
	margin-bottom: 50px;
  		font-family: 'Fugaz One', sans-serif;
}

form{
	width: 400px;
}

.labels{
	display: block;
	font-weight: 800;
	margin-bottom: 7px;
    font-family: 'Pretendard-Regular';
    color: #334010;
}

.inputs{
	width: 400px;
	height: 40px;
	padding-left: 10px;
	border: 2px solid #84a331;
	border-radius: 5px;		
    font-family: 'Pretendard-Regular';
}

.inputs::placeholder{
    font-family: 'Pretendard-Regular';
}

.emailInput{
	margin-bottom: 20px;	
}

.bi-eye-slash, .bi-eye{
	cursor: pointer;
	position : absolute;
    display: block;
	margin-left: 367px;
	margin-top: -33px;
	color: #84a331;
}

.msg{
	color: red;
	height: 30px;
	font-weight: 800;
	font-size: 13px;
	padding-top: 5px;
}

.checkBtn{
	margin-top: 30px;
	width: 400px;
	height: 50px;
	
	border: none;
	background-color: #84a331;
	color: white;
	border-radius: 5px;
    font-family: 'Pretendard-Regular';
}