@charset "UTF-8";
.container{
	margin-top: 50px;
}

.rePost, .reWriterInfo {
	display: flex;
    align-items: center;
}
.rePost span, .reWriterInfo span{
	margin: 10px;
}

.frofileImg {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%; 
    border: 2px solid #ADC178;
    display: block;
	overflow: hidden;
}
#reContent {
	border: 2px solid #ADC178;
	border-radius:10px;
	width: 500px;
	padding: 10px; 
}
	

    #carouselExampleIndicators {
        margin-top: 50px;
    }

    .carousel-inner img {
        width: 100%;
        height: 600px;
        object-fit: cover;
        margin: 0 auto;
    }

	i:hover {
		cursor: pointer;
	}
	
	/* 별점평가 부분 */
	.myform fieldset, .myStar fieldset {
    display: inline-block;
    direction: rtl;
	}

	.myform input[type=radio], .myStar input[type=radio] {
	    display: none;
	}
	.myform label, .myStar label {
	    font-size: 30px;
	    color: transparent;
	    text-shadow: 0 0 0 #f0f0f0;
	}
	.myform label:hover {
	    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
	}
	.myform label:hover ~ label {
	    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
	}
	.myform input[type=radio]:checked ~ label, .myStar input[type=radio]:checked ~ label {
	    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
	}
	
	label[for^="starFill"]{
		color: rgba(250, 208, 0, 0.99);
	}
	
	label[for^="starEmpty"]{
		color: #f0f0f0;
	}
	
	
